@model Vidly.Models.Customer

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a customer</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.DisplayFor(m => m.Name, new { @class = "form-control"})
    </div>
}

